body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #3498db83; 
}

::-webkit-scrollbar-thumb:hover {
    background: #3498db; 
}

.full-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    
}

.chat-container {
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-content {
    display: flex;
}

.sidebar {
    flex: 1;
    padding: 15px;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.main-chat {
    flex: 3;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.chat-area {
    width: 96.5%;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
}

.input-section {
    display: flex;
    align-items: center;
    padding: 10px;
}

.input-section input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    margin-right: 8px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #144566;
}

.hidden {
    display: none;
}

#roomList {
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    height: 200px;
    max-height: 200px;
}

#roomList button {
    margin: 8px 8px 8px 8px;
}

#createRoom {
    margin-left: 10%;
    width: 80%;
}

#editRoom {
    position: absolute;
    margin-bottom: 0;
}

footer{
    text-align: center;
}

footer>p{
    font-size: small;
}
